*{
 
}
body{
    background: black;
    font-size: 12.5px;
    font-family: 'Roboto', sans-serif;
}

.header{

    display: flex;
    align-items: center;
    height: 45px;
    gap: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.icons{
    display: flex;
    justify-content: space-between;
    height: 50px;

}
.footer{
    height: 163px;
}
.post{

    background: white;
    margin: auto;
    width: 350px;
    height: 485px;
}
.options{
    font-size: 24px;
width: 273px;
display: flex;
align-items: center;
justify-content: end;
}

.picture{
    height: 260px;
    width: auto;
        

}
.picture > img{
height: 100%;
width: 100%;
}
.last-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}
.first-icons{
    display: flex;
    align-items: center;
    margin-left: 10px;
gap: 7px;
}

.description{
padding: 10px;
height: 125px;
}
